.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

/*/allure-results

selenoid-*/logs/*

### Mac OS ###
.DS_Store
/web-ui/logs/
**/src/main/generated/*
*localRun.properties
cloudflare.properties

/mobile/videos/

